
/*=================================================================
  @media screen 1440px
==================================================================*/


@media screen and (min-width: 1440px){
   
  


}

/*=================================================================
  @media screen 1199px
==================================================================*/


@media screen and (max-width: 1199px){
   
  

}


/*=================================================================
  @media screen 1220px
==================================================================*/


@media screen and (min-width: 1220px){
  




}


/*=================================================================
  @media screen 1024px
==================================================================*/


@media screen and (max-width: 1024px){

  .__shecodeformp {
    left: 37%;
  }

  .__shecodevaldiv1 {
    margin-left: 33%;
  }

  .__shecodevaldiv2 {
    margin-top: 32%;
  }

  .__shecodevaldiv3 {
    margin-top: 32%;
    margin-left: 32%;
  }

  

}


/*=================================================================
  @media screen 992px
==================================================================*/


@media screen and (max-width: 992px){
    
}


/*=================================================================
  @media screen 800px
==================================================================*/

@media screen and (max-width: 800px){

	.__shecodelink {
    padding: 10px 4px;
  }
  .__shecodeafri {
    font-size: 40px;
  }

  .__shecodeafri1 {
    font-family: Raleway-Black;
    font-size: 19px;
  }

  .__shecodetestimcard {
    padding: 8px;
  }

  .__shecodeformp {
    left: 32%;
  }

  .__shecodevaldiv1 {
    margin-left: 43%;
  }

  .__shecodevaldiv2 {
    margin-top: 44%;
  }

  .__shecodevaldiv3 {
    margin-top: 44%;
    margin-left: 44%;
  }

  .__shecodestack {
    margin-top: 42%;
  }

  .__shecodestack1 {
    margin-top: 41%;
  }

  .__shecodestack2 {
    margin-top: 41%;
    font-size: 12px;
  }

  .__shecodestack3 {
    margin-top: 43%;
  }

  .__shecodestack4 {
    margin-top: 49%;
    font-size: 10px;
  }

  .__shecodebenefit {
    margin-top: 30%;
  }
  


}

/*=================================================================
  @media screen 767px
==================================================================*/

@media screen and (max-width: 767px){

  .__shecodelink {
    text-align: center;
  }

  .__shecodeafri {
    margin-top: 10%;
  }

  .__shecodefounder {
    border-radius: 0;
    width: 100%;
    height: 100%;
    margin-top: 4%;
  }

  .__shecodefounderp {
    margin-top: 5%;
  }

  .__shecodetestimcard {
    margin-top: 2%;
  }

  .__shecodestack {
    margin-top: 30%;
  }

  .__shecodestack1 {
    margin-top: 31%;
  }

  .__shecodestack2 {
    margin-top: 31%;
    font-size: 14px;
  }

  .__shecodestack3 {
    margin-top: 10%;
  }

  .__shecodestack4 {
    margin-top: 10%;
    font-size: 14px;
  }
  
}


/*=================================================================
  @media screen 560px
==================================================================*/


  @media screen and (max-width: 560px){

  	.__shecodelink {
      text-align: center;
    }

    .__shecodeafri {
      font-size: 25px;
      margin-top: 18%;
    }

    .__shecodeafri1 {
      font-size: 15px;
    }

    .__shecodefounderp {
      margin-top: 11%;
    }

    .__shecodetestimcard {
      padding: 23px;
      margin-top: 9%;
    }

    .__shecodeformcard {
      padding: 35px 7px 30px;
    }

    .__shecodeformp {
      margin-top: -54px;
      left: 9%;
    }

    .__shecodeaboutimg {
      min-height: 45vh;
    }

    .__shecodevalab {
      width: 300px;
      height: 300px;
    }

    .__shecodevaldiv {
      width: 110px;
    }

    .__shecodevaldiv img {
      width: 50px;
    }

    .__shecodevaldiv1 {
      width: 110px;
      margin-left: 59% !important;
    }

    .__shecodevaldiv1 img {
      width: 50px;
    }

    .__shecodevaldiv2 {
      width: 110px;
      margin-top: 61% !important;
    }

    .__shecodevaldiv2 img {
      width: 50px;
    }

    .__shecodevaldiv3 {
      width: 110px;
      margin-top: 60% !important;
    margin-left: 60% !important;
    }

    .__shecodevaldiv3 img {
      width: 50px;
    }

    .__shecodestack {
      margin-top: 76%;
      font-size: 12px;
    }

    .__shecodestack1 {
      margin-top: -17%;
      font-size: 11px;
    }

    .__shecodestack2 {
      margin-top: -25%;
      font-size: 11px;
    }

    .__shecodeafriab {
      font-size: 25px;
    }

    
}


/*=================================================================
  @media screen 480px
==================================================================*/


 /* @media screen and (min-width: 480px){
    .__shecodevaldiv1 {
      margin-left: 40%;
    }

    .__shecodevaldiv2 {
      margin-top: 40%;
    }

    .__shecodevaldiv3 {
      margin-top: 40%;
      margin-left: 40%;
    }
  }*/

