/*=================================================================
	Basic Setup css
==================================================================*/
html {
    font-size: 100%;
    min-height: 100%;
}

body {
	font-family: 'Raleway', sans-serif;
	/*font-family: '', Poppins-Regular;*/
	font-size: 14px;
	color: #222222;
	font-weight: normal;
	overflow-x: hidden;
	line-height: 20px;
}


@font-face{
  font-family: 'Raleway-Black';
  src: url('../../Raleway/Raleway-Black.ttf');
}


a,
a:active,
a:hover,
a:focus,
a:visited{
	text-decoration:none;
	/*background:transparent;*/
	outline:none;
	color:inherit;
}

/*a:hover{
	color: #663fb5 !important;
}*/

button:focus{
	outline:none;
}

li{
	/*list-style:none;*/
}

article,
figure,
footer,
header,
nav,
section{
	display:block
}

select:focus {
    outline-offset:0;
}

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */
@-webkit-viewport {
	width: device-width;
}
@-moz-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@-o-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}





a:focus, a:hover {
    	text-decoration:none !important;
	}


.navbar {
    /*position: relative;*/
    min-height: 50px;
    margin-bottom: 20px;
    border: none;
}

.navbar-toggle {
  /*border: 2px solid #FFFFFF;*/
  color: #ffffff;
  background: #ff85d2;
}

.navbar-toggle .icon-bar {
    background: #fff !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}

.header-body {
  height: calc(100vh - 80px);
}

#form .input-group input[class="form-control"] {
  border-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 17px;
  color:#222;
  padding:7px 12px;
  border-right-width:0;
}
.box-s{
  /*box-shadow: 0px 5px 5px #888888;*/
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
#form .input-group select[class="form-control"] {
  border-radius:50px;
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  font-size:17px;
  width:100px;
  color:#222;
  border-left-width:0;
}

.form-control:focus {
    border:1px solid #ccc !important;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(254, 86, 33, .6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 2px rgba(0, 0, 0, .6) !important;
}

.form-group1 .form-control:focus {
    border:none!important;
    outline:0;
    -webkit-box-shadow:none !important;
    box-shadow: none !important;
    border-bottom:1px solid brown !important;
}


	


::-webkit-scrollbar{
	height: 7px;
	width: 7px;
}
::-webkit-scrollbar-track{
	border-radius: 50px;
	/*-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.1);*/
}
::-webkit-scrollbar-thumb{
	border-radius: 1px;
	background-color: #a7a7a7;
}


/*hover on dropdown and drop*/
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}
/*hover on dropdown and drop end*/


/*=================================================================
  Custom Css
==================================================================*/

.__shecodenavbar{
  background-color: transparent;
  margin-bottom: 0;
}

.__shecodelogo{
    width: 48px;
}

.__shecodenavcol{
      margin-top: 25px;
}

.__shecodelink{
  padding: 10px 30px;
}

.__shecodelink a{
  font-size: 18px;
  font-weight: 600;
  color: #8c8c8c !important;
  transition: all 0.4s ease-in;
}

.__shecodelink a:hover{
  color: #b70569 !important;
  text-decoration: overline !important;
  transform: scale(1.04);
  transition: transform 0.4s ease-in-out;
}

.__shecodeafri{
  font-family: Raleway-Black;
    font-size: 55px;
    color: #b70569;
    line-height: 1.5;
    margin-top: 22%;
}

.__shecodeafri1{
  font-family: Raleway-Black;
  font-size: 25px;
  color: #b70569;
}

.__shecodetopimg{
  transform: scaleX(-1);
  width: 100%;
  margin-top: 10%;
}

.__shecodebtn{
  border: 1px solid #b70569;
  padding: 4px 22px;
  border-radius: 5px;
  color: #b70569 !important;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5%;
  background: #ffffff;
  transition: all 0.4s ease-in;
}
.__shecodebtn:hover{
  box-shadow:0px 6px 5px 0px rgba(183, 5, 105, 0.62);
  border: none;
 }

.__shecodebtn img{
  width: 30px;
}

.__shecodevmv{
  width: 120px;
}

.__shecodecard{
  box-shadow: 0 0 10px 0 rgba(183, 5, 105, 0.22);
    padding: 35px;
    border-radius: 5px;
    margin-top: 10%;
}

.__shecodevmvp{
  font-size: 20px;
  font-family: Raleway-Black;
  line-height: 1.4;
  color: #807c7c;
  margin-top: 2%;
}
.__shecodevmvp1{
  line-height: 1.4;
  color: #807c7c;
  margin-top: 5%;
}

.__shecodefounder{
  border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-top: 20%;
}

.__shecodefounderp{
  line-height: 1.4;
  color: #807c7c;
  text-align: center;
  margin-top: 30%;
}

.__shecodefounderp1{
  text-align: center;
  font-family: Raleway-Black;
  font-size: 20px;
  margin-top: 5%;
}
.__shecodefounderp1 span{
  font-size: 14px;
  color: #807c7c;
  font-weight: 100;
}

.__shecodetestimcard{
    box-shadow: 0 0 10px 0 rgba(183, 5, 105, 0.22);
    padding: 40px;
    border-radius: 5px;
    margin-top: 20%;
}

.__shecodetestimp{
    line-height: 1.5;
    font-size: 15px;
}

.__shecodetestimp1{
    font-size: 18px;
    font-weight: 600;
    margin-top: 5%;
}


.__shecodetestimp1 span{
    font-size: 15px;
    font-weight: 100;
    color: #807c7c;
}

.__shecodetestimimg{
    width: 70px;
    border-radius: 50%;
    margin-top: -33px;
}

.__shecodeformcard{
   padding: 80px 120px 30px;
    border-radius: 5px;
    margin-top: 10%;
    border: 1px solid #b7056936;
}

.__shecodeformp{
   background: #ffffff;
    font-size: 18px;
    position: absolute;
    margin-top: -103px;
    left: 41%;
    padding: 10px 30px;
    font-family: Raleway-Black;
    letter-spacing: 5px;
}

/*form input style*/
.__clabelinput {
  /* margin:20px 0; */
  position:relative;
  display:inline-block;
  width:100%;
}
  
.__clabelinput span {
  padding:21px 12px;
  pointer-events: none;
  position:absolute;
  left:0;
  top:0;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity:0.5;
}

.__clabelinput input {
  padding:10px;
}

.__clabelinput input:focus + span, .__clabelinput input:not(:placeholder-shown) + span {
  opacity:1;
  transform: scale(0.75) translateY(-100%) translateX(-30px);
  background: #ffffff;
  top: 13px;
  left: 20px;
  padding: 0 10px;
  font-weight: 500;
}

/* For IE Browsers*/
.__clabelinput input:focus + span, .__clabelinput input:not(:-ms-input-placeholder) + span {
  opacity:1;
  transform: scale(0.75) translateY(-100%) translateX(-30px);
}


.__formin{
  border-radius: 4px;
  /*border: solid 1px #ff85d2;*/
  height: 45px;
  margin-top: 10px;
}
/*form input style end*/


.__shecodeaboutimg{
  background:linear-gradient(100deg, rgba(255, 133, 210, 0.34) 50%, rgba(255, 133, 210, 0.34) 50%), url(../img/slideOne.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 85vh;
}

.__shecodeafriab{
  font-family: Raleway-Black;
    font-size: 55px;
    color: #ffffff;
    line-height: 1.2;
    margin-top: 14%;
}
.__shecodeafriab1{
  font-family: Raleway-Black;
    font-size: 14px;
    color: #ffffff;
  letter-spacing: 1px;
}

.__shecodeval{
  font-size: 30px;
    color: #040303;
    text-align: center;
    font-weight: 600;
    margin-top: 5%;
}

.__shecodeval1{
 font-family: Raleway-Black;
    font-size: 35px;
    color: #b70569;
    text-align: center;
    line-height: 1;
}

.__shecodevalab{
  border: 1px solid;
    border-radius: 50%;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    text-align: center;
}

.__shecodevaldiv{
  text-align: center;
  background: #ffffff;
  margin: 0 auto;
  width: 170px;
  border-radius: 50%;
  position: absolute;
}
.__shecodevaldiv img{
  width: 90px;
}

.__shecodevaldiv1{
  text-align: center;
  background: #ffffff;
  margin: 0 auto;
  width: 170px;
  border-radius: 50%;
  position: absolute;
  margin-left: 25%;
}
.__shecodevaldiv1 img{
  width: 90px;
}

.__shecodevaldiv2{
  text-align: center;
  background: #ffffff;
  margin: 0 auto;
  width: 170px;
  border-radius: 50%;
  position: absolute;
    margin-top: 25%;
}
.__shecodevaldiv2 img{
  width: 90px;
}

.__shecodevaldiv3{
  text-align: center;
  background: #ffffff;
  margin: 0 auto;
  width: 170px;
  border-radius: 50%;
  position: absolute;
    margin-top: 25%;
    margin-left: 25%;
}
.__shecodevaldiv3 img{
  width: 90px;
}

.__shecodevalimg{
  width: 120px;
    margin-top: 30%;
}

.__shecodeskill{
  background: #ff16a9;
  padding: 20px;
    border-radius: 5px;
}

.__shecodeskill1{
  background: #fb21ab;
  padding: 20px;
    border-radius: 5px;
}

.__shecodeskill2{
  background: #fd4bbb;
  padding: 20px;
    border-radius: 5px;
}

.__shecodeskill3{
  background: #f963c2;
  padding: 20px;
    border-radius: 5px;
}

.__shecodeskill4{
  background: #ff85d2;
  padding: 20px;
    border-radius: 5px;
}

.__shecodeplr{
  padding-right: 6px;
    padding-left: 6px;
}

.__shecodestroke{
  background: #ff16a9;
  height: 100px;
  width: 1px;
  float: right;
}

.__shecodestack{
  float: right;
  margin-top: 27%;
}

.__shecodestroke1{
  background: #ff16a9;
  height: 80px;
  width: 1px;
  float: right;
}

.__shecodestack1{
  float: right;
  margin-top: 27%;
}

.__shecodestroke2{
  background: #ff16a9;
  height: 60px;
  width: 1px;
  float: right;
}

.__shecodestack2{
  float: right;
  margin-top: 27%;
}

.__shecodestroke3{
  background: #ff16a9;
  height: 48px;
  width: 1px;
  float: right;
}

.__shecodestack3{
  float: right;
  margin-top: 27%;
}

.__shecodestroke4{
  background: #ff16a9;
  height: 36px;
  width: 1px;
  float: right;
}

.__shecodestack4{
  float: right;
  margin-top: 27%;
}

.__shecodebenefit{
  border: 1px solid #b70569;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 20%;
}

.__shecodebenefitimg{
  width: 85px;
  margin-top: -103px;
  background: #ffffff;
}

.__shecodebene{
  color: #040303;
  font-family: Raleway-Black;
}

.__shecodeteamimg{
  width: 200px;
}

.__shecodeteamp{
  color: #040303;
  font-family: Raleway-Black;
  letter-spacing: 2px;
    margin-top: 5%;
}

.__shecodeteamp1{
  color: #b70569;
}

/*partner slider*/
.__address {
  text-align: center;
  padding: 12px;
  margin-top: 2%;
}
/* Slider */

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  /*margin-top: 5%;*/
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/*partner slider end*/




/*footer*/
.__fosocai {
    text-align: center;
}

.__fotsohf {
    font-size: 20px;
    padding: 10px 10px 6px;
    transition: all 0.4s ease-in;
}

.__fotsohf:hover {
    background-color: #3B5998;
    color: #ffffff;
    border-radius: 3px;
}

.__fotsohi {
    font-size: 20px;
    padding: 10px 10px 6px;
    transition: all 0.4s ease-in;
}

.__fotsohi:hover {
    background-color: #0077B5;
    color: #ffffff;
    border-radius: 3px;
}
.__fotsohi {
    font-size: 20px;
    padding: 10px 10px 6px;
    transition: all 0.4s ease-in;
}

.__fotsoht {
    font-size: 20px;
    padding: 10px 10px 6px;
    transition: all 0.4s ease-in;
}

.__fotsoht:hover {
    background-color: #55acee;
    color: #ffffff;
    border-radius: 3px;
}

.__footerbg{
  background: #777777;
  margin-top: 5%;
  padding: 30px 0;
  text-align: center;
}

.__footerp{
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff !important;
  transition: all 0.4s ease-in;
  margin-top:15%;
}
.__footera{
  margin-top: 10px;
  font-size: 13px;
  /*font-weight: 600;*/
  letter-spacing: 1px;
  color: #ffffff !important;
  transition: all 0.4s ease-in;
}

.__footera:hover{
  color: #ff85d2 !important;
}

.__footerdownbg{
  background: #3a3a3a;
  color: #ffffff;
  font-size: 14px;
  padding: 13px;
  text-align: center;
}
/*footer end*/